<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Signatures</th>
      <th>Type</th>
      <th>Created By</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= render @petitions %>
</tbody>
</table>
