<%= link_to 'New Petition', new_admin_petition_path, class: 'btn btn-primary pull-right' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Signatures</th>
      <th>Type</th>
      <th>Created By</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= render collection: @petitions, partial: 'petitions/petition' %>
</tbody>
</table>
